*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(-45deg, #141e30, #243b55, #000000, #434343);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
}
@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
.card{
    width: 90%;
    max-width: 470px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);

    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
    animation: pop 0.5s ease;

}
@keyframes pop{
    0%{
        transform: scale(0.9);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.stars{
    pointer-events:none;
    position: absolute;
    width: 100%;
    height: 100%;

    background:
        radial-gradient(2px 2px at 20px 30px, white, transparent),
        radial-gradient(1.5px 1.5px at 50px 80px, white, transparent),
        radial-gradient(2px 2px at 100px 120px, white, transparent);

    background-repeat: repeat;
    background-size: 200px 200px;

    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 20px;
    z-index: 1;
}
.rain{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.ibb.co/7QpKsCX/rain.png");
    animation: rain 0.5s linear infinite;
    opacity: 0;
    border-radius: 20px;
}

@keyframes rain {
    from { background-position: 0 0; }
    to { background-position: 0 100%; }
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input::placeholder{
    color: rgba(255,255,255,0.7);
}
.search input{
    border: 0;
    outline: 0;
    background:rgba(255,255,255,0.2);;
    color: #fff;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    backdrop-filter: blur(10px);
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 0.3s;
}
.search button:hover{
    transform: scale(1.1);
    background: #fff;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
    filter: drop-shadow(0 0 20px rgba(255,255,255,0.3))
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;

}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;

}